* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{background-color: #134762;}

    #page-wrapper{
        background-color: #134762 ;
    }

#contatoForm {
    max-width: 500px;
    margin: 40px auto;
    padding: 25px;
    background:  rgba(255, 255, 255, 0);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contatoForm input,
#contatoForm textarea {
    padding: 12px;
    border: 1px solid #134762 ;
    border-radius: 10px;
    font-size: 16px;
}

#contatoForm input:focus,
#contatoForm textarea:focus {
    border-color: #fcb83c;
    outline: none;
}

#contatoForm button {
    padding: 14px;
    background-color: #58b4c6;
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#contatoForm button:hover {
    background-color: #f49c38;
}

/* Fundo do container do formulário */
.converse-container, .converse-container form {
    background: transparent !important; /* força fundo transparente */
    box-shadow: none !important;        /* remove sombra */
    border: none !important;            /* remove borda */
    padding: 0;                          /* remove espaçamento extra */
    margin: 0;
  }
  
  /* Inputs e textarea */
  .converse-container input,
  .converse-container textarea {
    background: rgba(255, 255, 255, 0.2); /* semitransparente */
    border: 1px solid #fff;               /* borda branca */
    color: #fff;                           /* texto branco */
    padding: 10px;
    border-radius: 6px;
  }
  
  /* Placeholder */
  .converse-container input::placeholder,
  .converse-container textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  

 
  form button {
    display: flex;             /* permite centralizar o conteúdo */
    justify-content: center;   /* centraliza o texto horizontalmente */
    align-items: center;       /* centraliza o texto verticalmente */
    margin: 20px auto 5 auto;  /* centraliza o botão dentro do form */
  }
  
  
body,
input,
select,
textarea {
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: 400;
	letter-spacing: 0.075em;
	line-height: 1.65em;
}

.wrapper.style1 header.major p {
	color: #ffffff;
}