* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo moderno do formulário */
#banner .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

#cadastroForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

#cadastroForm input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s;
  width: 30dvw;
}

#cadastroForm input:focus {
  border-color: #58b4c6;
  outline: none;
}

#cadastroForm button {
  /* padding: 12px; */
  background-color: #58b4c6;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#cadastroForm button:hover {
  background-color: #f49c38;
}

#banner {
  z-index: 1 !important;
}

#page {
  z-index: 10 !important;
  background-color: rgba(0, 0, 0, 0.144) !important;

}